<a href="https://colab.research.google.com/github/Omsri123/python-progz/blob/module_1/stringz_30_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
add = '''hlo 203,MVV HILL VIEW,\r Gopalapatnam.
Visakhapatnam'''
a="om"
b="sri"
print(add)
print(len(add))
print("MVV" in add , "Gopalapatnam" in add)
print('andhra' not in add)
print(add[0:])
print(add[0:7])
print(add[:len(add)])
print(add[::-1])
print(add[::2])
print(add.lower())
print(add.upper())
print(add.capitalize())
print(add.strip())
print(add.find("203"))
print(add.replace('G','V'))
print(add.split("."))
print(a+" "+b)
print(a+b)

 Gopalapatnam.
Visakhapatnam
51
True True
True
 Gopalapatnam.
Visakhapatnam
hlo 203
 Gopalapatnam.
Visakhapatnam
mantapahkasiV
,WEIV LLIH VVM,302 olh
Gplpta.Vskaanm
 gopalapatnam.
visakhapatnam
 GOPALAPATNAM.
VISAKHAPATNAM
 gopalapatnam.
visakhapatnam
 Gopalapatnam.
Visakhapatnam
4
 Vopalapatnam.
Visakhapatnam
['hlo 203,MVV HILL VIEW,\r Gopalapatnam', '\nVisakhapatnam']
om sri
omsri

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

# Format strngz

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {0} dollars for {1} pieces of item {2}."
print(myorder.format(quantity, itemno, price))

 567 pieces of item 49.95.